@use "sass:color";
$spot-list-width: 460px;

@import "spot-list/SpotList";
@import "spot-details/SpotDetailsModal";

.Search {
    width: 100%;
}

.Search-content {
    position: absolute;

    // Decision was made to deviate from design color in favor of
    // keeping the semantic structure of colors. Avoided adding a new color to the palette
    // just to be used as the background for the search dialog (as a semantic one was not
    // provided in the design).
    background-color: color.scale($color-fuel, $lightness: 5%);
    top: 0;
    left: $spot-list-width;
    width: calc(100vw - #{$spot-list-width});
    height: 100vh;
}
