.Dialog {
    background-color: $color-white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 5px;
}

.Dialog__header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: space-between;
}

.Dialog__header-action {
    cursor: pointer;
    background: none;
    border: none;
    font-size: xx-large;
    padding: 0 10px;
}

.Dialog__content-title {
    display: flex;
    flex-direction: row;
    position: relative;
}

.Dialog__content-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.Dialog__footer-action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
